.App {
  //text-align: center;
}


.App-link {
  color: #61dafb;
}

ul {
  list-style-type: none;
}

.card {
  display: inline;
}

.card-image {
  height: 55vh;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}